 {% extends 'main/layoute.html' %}

 {% block title %}
   <title>Первая страница на django</title>
 {% endblock %}

 {% block content %}
     Мой первый проект на Django был увлекательным и познавательным опытом. Я научился настраивать базу данных, создавать модели и работать с административной панелью. В проекте использовались такие элементы, как формы для ввода данных и отображение информации с помощью шаблонов. Я также освоил маршрутизацию и создание URL-шаблонов для навигации по сайту. Этот проект стал отличным стартом для дальнейшего углубления в Django и веб-разработку в целом.
 {% endblock %}