{% extends 'films/layoute.html' %}
{% block title %}
   <title>Страница с отзывами</title>
 {% endblock %}

 {% block content %}
    <h1>Страница с отзывами</h1>
    {% if films  %}
         {% for film in films %}

            <div class="card">
                <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <h4 class="card-title">{{film.title}}</h4>
                    <p class="card-text">
                      <h5>{{film.short_description}}</h5>
                        <br>{{film.text}}</p>
                    <a href="#" class="btn btn-primary">Подробнее</a>
                  </div>
                </div>
            </div>

         {% endfor%}
     {% else %}
        <h4>Отзывов еще нет</h4>
     {% endif %}

 {% endblock %}